* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common Styling */
html,
body {
    height: 100%;
}

body {
    background: #ccc url("../images/background.jpg") no-repeat center fixed;

}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #829FFF;
}

h1,
h2 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

h1 {
    font-size: 5.2em;
    font-weight: bolder;
}

h2 {
    font-size: 2em;
}

/* nav styling */
nav {

    height: 50px;

}

.fixed-top {
    background: rgba(23, 45, 34, 0.8);
    border: 1px solid #000;
    padding: 10px 0;
}

nav a {
    color: #fff;
}

/*-------------------- HeroDiv Styling--------------- */

#heroRowDiv {
    width: 100%;
    height: 500px;
    /* background: rgba(56,89,56,0.8); */
}

.heroClass {
    width: 100%;
    height: 20em;
    margin-top: 13%;
    margin-bottom: 13%;
    position: relative;
    background: rgba(166, 166, 253, 0.7);
    /* text-align: center; */

}

#heroDiv {
    margin: 0;
    /* background: yellow; */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#heroDiv:hover {
    color: #020279;
    cursor: pointer;
}

/* ------------Parallx Div styling--------------- */
.parallax {
    text-align: center;
    min-height: 400px;
    width: 100%;
    background: transparent;
    background-size: cover;
    margin: auto auto;

}

/* ----------------About Div styling---------------- */

#aboutDiv {
    width: 100%;
    height: 650px;


    color: #000;
    text-align: center;
}

.aboutDivClass {
    height: 650px;
    background: rgba(166, 166, 253, 0.7);
}

#aboutDiv header {
    height: 150px;
    padding: 2% 0;
}

#aboutDiv p {
    font-size: 1.5em;
}

#aboutMeSec {
    width: 80%;
    margin: auto auto;
}

#aboutMeSec p:nth-child(3) {
    text-align: left;
}

#myImg {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    background: #000;
    margin: 10px 0;
}

/* -------------Portfolio Styling-------------- */
#portfolioDiv {
    width: 100%;
    height: 530px;
    text-align: center;
    background: rgba(166, 166, 253, 0.7);
}

.card {
    margin: auto auto;
    background: transparent;
    border: none;
    /* border: 1px solid seagreen; */
}

.card img {
    width: 200px;
    height: 300px;
    margin: auto auto;
    margin-top: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

.card img:hover {
    border: 1px solid #fff;
}

.card a:hover {
    text-decoration: none;
    color: rgb(153, 152, 153);
}

.card:hover {
    background: rgb(66, 55, 55);
}

/* --------------------------Contact Styling--------------------- */

#contact {
   
    /* background: #ccc; */
    height: 500px;
    margin-bottom: 100px;
    background: rgba(166, 166, 253, 0.7);
}


#contact form {
    width: 50%;
    height: 350px;
    margin: auto auto;
    padding:10px;
    border: 2px solid #000;
    border-radius: 5px;
}

/* ----------------------Footer Styling -------------------------- */
#footerDiv{
    width: 100%;
    font-size: 2em;
    color:#fff;
    margin-top: 10%;
}
#footerDiv:hover{
    cursor: pointer;
}
#footerDiv i:hover{
    color: rgb(67, 155, 243);
}
#footerDiv a{
    color:#fff;
}
#footerDiv span{
    font-size: 0.6em;
}

#footerDiv .col-12,#footerDiv .col-sm-12{
    padding-right: 0;
    padding-left: 0;
}

footer{
    height: 50px;
    width: 100%;
    background: rgba(23, 45, 34, 0.8);

}